.section-2{
  background-image: url('../../assets/107136057-1666041195817-Kodiak-Ikea-Back-3.jpg');
  background-size: cover;
  height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  
}